<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.10.0" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="IP2Location" version="1.0.0" targetFramework="net45" />
  <package id="SpartanExtensions" version="1.0.5492.31784" targetFramework="net451" />
</packages>